---
layout: page
title:  Archive
permalink: /archive/
nav: true
---

<div class="archive">
  <div class="timeline" id="timeline">
    {% for post in site.posts %}
    {% unless post.next %}
    <div class="archive-title">
      <h4 class="archive-year">{{ post.date | date: '%Y' }}</h4>
    </div>

    <ul>
    {% else %}
      {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
      {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
    {% if year != nyear %}
    </ul>
    <div class="archive-title">
      <h4 class="archive-year">{{ post.date | date: '%Y' }}</h4>
    </div>

    <ul>
    {% endif %}
    {% endunless %}
    <li>
      <div style="width:60px;float:left;">{{ post.date | date: "%b %-d" }}</div>
        <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
        {% capture difference %} {{ post.category | size | minus: 1 }}{% endcapture %}
        {% unless difference contains '-' %}
        [{% for category in post.category %}
          <a class="cat-link" href="{{ site.url }}/categories/#{{ category }}">{{ category }}</a>{% unless category == post.category.last %}, {% endunless %}
        {% endfor %}]
        {% endunless %}
        {% capture difference %} {{ post.tags | size | minus: 1 }}{% endcapture %}
        {% unless difference contains '-' %}
        ({% for tag in post.tags %}
          <a class="tag-link" href="{{ site.url }}/tags/#{{ tag }}">{{ tag }}</a>{% unless tag == post.tags.last %}, {% endunless %}
        {% endfor %})
        {% endunless %}

    </li>
    {% endfor %}
    </ul>

  </div>

</div>
