
<!-- Sidebar Widgets Column -->
<div class="col-md-4">

    <!-- Categories Widget -->
    <div class="card my-4">
        <h5 class="card-header">Categories</h5>
        <div class="card-body">
        <div class="row">
            <div class="col-lg-12">
            <ul class="list-unstyled mb-0">
                {%- assign categories_list = site.categories -%}
                {%- if categories_list.first[0] == null -%}
                {%- for category in categories_list -%}
                    <li><a href="/categories/#{{ category.name }}">{{ category | capitalize }} ({{ site.tags[category].size }})</a></li>
                    {%- assign cat_count = cat_count | plus: 1 -%}
                {%- endfor -%}
                {%- else -%}
                {%- for category in categories_list -%}
                    <li><a href="/categories/#{{ category[0] | slugize }}">{{ category[0] | capitalize }} ({{ category[1].size }})</a></li>
                    {%- assign cat_count = cat_count | plus: 1 -%}
                {%- endfor -%}
                {%- endif -%}
            </ul>
            </div>
        </div>
        </div>
    </div>

</div>