/**
  * Global setting
  */
*,
*:before,
*:after {
  @include box-sizing;
}
.notice {
  margin: 2em 0 !important;
  padding: 1em;
  color: #494e52;
  text-indent: initial;
  background-color: #f8f9f9;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(189,193,196,0.25);
}
.notice--primary {
  margin: 2em 0 !important;
  padding: 1em;
  color: #494e52;
  text-indent: initial;
  background-color: #f2f3f3;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(122,130,136,0.25);
}
.notice--info {
  margin: 2em 0 !important;
  padding: 1em;
  color: #494e52;
  text-indent: initial;
  background-color: #eef7fa;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(82,173,200,0.25);
}
.notice--warning {
  margin: 2em 0 !important;
  padding: 1em;
  color: #494e52;
  text-indent: initial;
  background-color: #fef4e6;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(248,148,6,0.25)
}
.notice--success {
  margin: 2em 0 !important;
  padding: 1em;
  color: #494e52;
  text-indent: initial;
  background-color: #eff9ef;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(98,196,98,0.25);
}
.notice--danger {
  margin: 2em 0 !important;
  padding: 1em;
  color: #494e52;
  text-indent: initial;
  background-color: #fdefef;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(238,95,91,0.25);
}
img {
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

// Tables
table,
th,
td {
  border: none;
}
.table {
  display: table;
}
.table-cell {
  display: table-cell;
}
.table-top {
  vertical-align: top;
}
.table-middle {
  vertical-align: middle;
}
.table-bottom {
  vertical-align: bottom;
}
table {
  width: 100%;
  display: table;
  &.bordered > thead > tr,
  &.bordered > tbody > tr {
    border-bottom: 1px solid $table-border-color;
  }
  &.striped > tbody {
    > tr:nth-child(odd) {
      background-color: $table-striped-color;
    }
    > tr > td {
      border-radius: 0;
    }
  }
  &.highlight > tbody > tr {
    @include transition(background-color .25s ease);
    &:hover {
      background-color: $table-striped-color;
    }
  }
  &.centered {
    thead tr th,
    tbody tr td,
    tfoot tr td {
      text-align: center;
    }
  }
}
thead {
  border-bottom: 1px solid $table-border-color;
}
td,
th {
  padding: 15px 5px;
  display: table-cell;
  text-align: left;
  vertical-align: middle;
  border-radius: 2px;
}
tfoot {
  border-top: 1px solid $table-border-color;
}

.gutter {
  width: 5%;
}

// Global transition
b,
i,
strong,
em,
blockquote,
p,
q,
span,
figure,
img,
h1,
h2,
header,
input,
a {
  @include transition(all .1s ease);
}

// Footer
footer {
  text-align: center;
  padding: 3em 0;
  .heart-icon {
    color: $danger;
    text-shadow: 0 0 5px $white, 0 0 10px $danger;
  }
}
.related-articles {
  margin-top: 2em;
  h4 {
    font-family: $font-family-base;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}
