<!DOCTYPE html>
<html lang="en">

{%- include head.html -%}

<body>
  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '121846515176363',
        xfbml      : true,
        version    : 'v2.10'
      });

      FB.AppEvents.logPageView();

    };

    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "https://connect.facebook.net/en_US/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));
  </script>
  <div class="row">
    <div class="col s12 m3">
      <div class="table cover">
        {%- include sidebar.html -%}
      </div>
    </div>
    <div class="col s12 m9">
      <div class="post-listing">
        {{ content }}
        {%- include footer.html -%}
      </div>
    </div>
  </div>
  {%- include js.html -%}
</body>
</html>
