---
layout: default
---

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Blog",
  "name": "{{ site.title }}",
  "url": "{{ site.url }}",
  "description": "{{ site.description }}",
  "publisher": {
    "@type": "Organization",
    "name": "{{ site.title }}"
  },
  "BlogPosts": [
    {%- for post in site.posts -%}
    {%- if post.author -%}
      {%- assign author = site.data.authors[post.author] -%}
    {%- else -%}
      {%- assign author = site.owner.name -%}
    {%- endif -%}
    {%- assign date_published = post.date | date: "%Y-%m-%d" -%}
    {%- assign date_modified = post.modified | date: "%Y-%m-%d" -%}

    {
      "@type": "blogPosting",
      "mainEntityOfPage": "{{ site.url }}{{ post.url }}",
      "headline": "{{ post.title }}",
      "author": "{{ author }}",
      "datePublished": "{{ date_published }}",
      "dateCreated": "{{ date_published }}",
      {% if page.modified -%}
      "dateModified": "{{ date_modified }}",
      {% endif -%}
      "image": {
        "@type": "imageObject",
        {% if page.image.feature contains 'https' or page.image.feature contains 'http' -%}
        "url": "{{ page.image.feature }}",
        {%- elsif page.image.feature -%}"url": "{{ site.url }}/img/{{ page.image.feature }}",
        {%- else -%}"url": "{{ site.url }}/img/mattouille-com-logo.png",
        {% endif -%}
        "width": 600,
        "height": 400
      },
      "publisher": {
        "@type": "Organization",
        "name": "{{ site.title }}",
        "logo": {
          "@type": "ImageObject",
          "url": "{{ site.url }}/img/mattouille-com-google-logo.png",
          "width": 90,
          "height": 60
        }
      }
    }{% unless post == site.posts.last %},{% endunless %}
    {% endfor %}
  ]
}
</script>

{%- for post in site.posts -%}
<section class="post">
  <header class="post-header">
    <p class="post-meta">
      <span class="post-date">
        {{ post.date | date: "%-d %b %Y" | upcase }}
      </span>
      {%- if post.categories.size > 0 -%}
      •
      {%- for cat in post.categories -%}
        <a class="post-cat" href="{{ site.url }}/categories/#{{ cat }}">{{ cat }}</a>
        {%- unless forloop.last -%}
        <span>/</span>
        {%- endunless -%}
      {%- endfor -%}
      {%- endif -%}
    </p>
    <h4>
      <a href="{{ site.url }}{{ post.url }}" class="post-title" title="{{ post.title }}">{{ post.title }}</a>
      {%- if post.link -%}
      <a class="post-title-link" href="{{ post.link }}" target="_blank" title="{{ post.title }}"><i class="fa fa-external-link"></i></a>
      {%- endif -%}
    </h4>

    {%- if post.author -%}
      {%- assign author = site.data.authors[post.author] -%}
    {%- else -%}
      {%- assign author = site.owner -%}
    {%- endif -%}

  </header>

  {%- if post.excerpt -%}
  <div class="post-description">
    {%- if post.excerpt contains "<p>" -%}
      {{ post.excerpt }}
    {%- else -%}
    <p>
      {{ post.excerpt }}
    </p>
    {%- endif -%}
  </div>
  {%- endif -%}

  {%- if post.image.feature -%}
  <div class="post-image-feature">
    <img src=
    {%- if post.image.feature contains 'http' -%}
    "{{ post.image.feature }}"
    {%- else -%}
    "{{ site.url }}/img/{{ post.image.feature }}"
    {%- endif -%}
    alt="{{ post.title }} feature image">

    {%- if post.image.credit -%}
    <span class="image-credit">Photo Credit: <a href="{{ post.image.creditlink }}">{{ post.image.credit }}</a></span>
    {%- endif -%}
  </div><!-- /.image-wrap -->
  {%- endif -%}

</section>
{%- endfor -%}
